

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* why us page css */

.upperPart{
   text-align: center;
   >h5{
    margin-top: .5rem;
   }
}



.middlePart{
    
    padding-block: 4rem;
    display: flex;
   justify-content: center;
   align-items: center;  
   position: relative;  
}
.line{
    position: absolute;
  top:50% ;
    width: 40rem;
    height: 3px;
    background-color: #E1E1E1;

  
   
}
 .selector-item{
    position: relative;
 
    width: 20rem;
    padding: 2rem;
    text-align: center;
display: flex;
justify-items: center;
align-items: center;
>p{
    

position: relative;
bottom: 3rem;
margin-inline: auto;
font-size: 1rem;
font-family: "Poppins", sans-serif;
color:#626161; ;
width: 10rem;
font-weight: 600;

}
    
 }

.selector-circle{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: #E1E1E1;
    position: absolute;
   top: 40%;
   left: 45%;
   border: 4px solid #F1F1F1;
    


}

  
.selector-item.active .selector-circle
 {
  background-color: rgb(15,238,169); 
  color:rgb(15,238,169); 
}


.selector-item.active p{
    color: rgb(15,238,169);
}

.lowerpart{
  margin-inline: 3rem;
  padding-inline: 3rem;
  display: flex;
}


.lowerRight{
 
  
    width: 50%;
    
}

.rightIcons {
 margin: 2rem .6rem;
    display: flex;
    flex-direction: column;
  }
  
  .iconTextPair {
   
    display: flex;
   
    align-items: center;
    margin-bottom: 1.5rem; 
  }
  
 
  .iconTextPair span {
   
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    
   
  }
.rightHeading{

  >h1{
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
  }
  >p{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin-top: 2rem;
    font-weight: 300;
    line-height: 2rem;
    max-width: 35rem;
  }

}

  
.rightHeadingStyle{
  border-bottom: 4px solid rgb(0,237,164);
  
}
  .StyleIcon{
    margin-right: 1rem;
    color:rgb(26,235,196);
 font-size: 1.9rem;
 font-weight: 200;
  }

  .lowerRightbutton{
 margin-inline: 2rem;
 margin-top: -1rem;
 



    >button{
      padding: 1rem 3rem;
      border-top-left-radius: 34px;
      font-family: "Poppins", sans-serif;
      background-color:rgb(0,237,164) ;
      color: white;
      border: none;
      font-size: 1.1rem;
      border-top-right-radius:8px;
      border-bottom-left-radius:8px ;
      border-bottom-right-radius: 8px;
      font-weight: 400;

    }
  }


  .lowerLeft{
  
    width: 50%;
    display: flex;
   gap: 1rem;
    
  }

  .lowerPartLeft{
   
    margin: 1rem .5rem;
    
  
    height: 32rem;
    width: 50%;
    object-fit: contain;
    border-radius: 15px;
    >img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
     
      
    }
  }
  .lowerPartRight{
    margin: 2.3rem .5rem;
    border-radius: 15px;
 
   
    width: 50%;
    object-fit: contain;
    >img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
     
    }
  }


/* know us */

.KnowContainer{
  background-image: url('/violet.jpg');
 
  margin: 5rem 0rem;
  height: 60vh;
  background-repeat: no-repeat;
 
  display: flex;
 justify-content: center;
 align-items: center;

 background-color: rgb(250,250,250);
 

  
}


.knowGrid{
  width: 100%;
 

  justify-items: center;
  align-items: center;
padding: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.learn{


height: 38vh;
width: 20vw;
text-align: center;
padding: 5rem;
>img{
  height: 3rem;
  width: 3rem;
}
>h1{
  
margin-top: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;

}
>h3{
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;

}
 
  
}

.future{


  margin-inline: 1.5rem; 
 
  height: 38vh;
  width: 20vw;
  text-align: center;
  padding: 5rem;
  >img{
    height: 3rem;
    width: 3rem;
  }
  >h1{
  
    margin-top: 1.7rem;
      font-family: "Poppins", sans-serif;
      font-size: 1.3rem;
    
    }
    >h3{
      font-family: "Roboto", sans-serif;
      font-size: 1.3rem;
      font-weight: 300;
    
    }
  
}

.that{
  
  height: 38vh;
  width: 20vw;
  text-align: center;
  padding: 5rem;
  margin-inline: 1.5rem;
  >img{
    height: 3rem;
    width: 3rem;
  }
  >h1{
  
    margin-top: 1.7rem;
      font-family: "Poppins", sans-serif;
      font-size: 1.3rem;
    
    }
    >h3{
      font-family: "Roboto", sans-serif;
      font-size: 1.3rem;
      font-weight: 300;
    
    }
}


.all{

height: 38vh;
width: 20vw;
text-align: center;
padding: 5rem;
>img{
  height: 3rem;
  width: 3rem;
}
>h1{
  
  margin-top: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
  
  }
  >h3{
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
  
  }
  
}


.learn:hover, .future:hover ,.all:hover,.that:hover{
  background-color: rgb(99, 132, 236); /* Background color on hover */
  border-top-left-radius: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}



/* StartlearningPage */
.learningUpperPart{
 

 margin: 0rem 8rem;
 margin-top: 2rem;
 padding-inline: 8rem;
 text-align: center;
 >p {
  max-width: 53vw;
  margin-inline: 6rem;
  padding-inline: 4rem;
  margin-top: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: rgba(0, 0, 0, 0.79);
  text-align: center;
  letter-spacing: 1px;
 
}

 
 >h4{
  margin-top: .5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5;
  font-weight: 300;
 }

 >h1{
  font-family: "Poppins", sans-serif;
font-size:2.5rem ;
font-weight: 800;
 }
}

.learningLowerPart{

  display: flex;
  justify-content: space-between;
  margin: 6rem 0rem;

  
}

.right{
  
  height: 12rem;
  width: 50%;
  background-color: rgb(0,237,164);
  color: white;
display: flex;
flex-direction: column;
align-items: center;
font-family: "Poppins", sans-serif;
font-size: .8rem;
font-weight: 500;
>h2{
  margin-top: 4.5rem;
  margin-left: 12rem;

}

h3 {
  margin-left: 9.6rem;
  margin-top: .4rem;
  position: relative; /* Needed for positioning the pseudo-element */
  overflow: hidden; /* Ensures the border does not bleed outside the content */
}

h3::after {
  content: '';
  position: absolute;
  bottom: 0; /* Align to the bottom of h3 */
  left: 0; /* Align to the left of h3 */
  right: 0; /* Align to the right of h3 */
  height: 1px; /* Border thickness */
  background: white; /* Border color */
  transition: transform 0.3s ease; /* Animate the transform property */
  transform: scaleX(1); /* Full width by default */
  transform-origin: center; /* Scale from the center */
}

h3:hover::after {
  transform: scaleX(0.8); /* Shrink to 80% of its width on hover */
}


}


.left{
 
  height: 12rem;
  width: 50%;
  background-color: rgb(106,125,241);
  color: #F1F1F1;
  display: flex;
flex-direction: column;
align-items: center;
font-family: "Poppins", sans-serif;
  font-size: .8rem;
  font-weight: 500;
>h2{
  margin-top: 4.5rem;
  margin-right: 12rem;
  
  


}
h3 {
  margin-right: 9.6rem;
  margin-top: .4rem;
  position: relative; /* Needed for positioning the pseudo-element */
  overflow: hidden; /* Ensures the border does not bleed outside the content */
}

h3::after {
  content: '';
  position: absolute;
  bottom: 0; /* Align to the bottom of h3 */
  left: 0; /* Align to the left of h3 */
  right: 0; /* Align to the right of h3 */
  height: 1px; /* Border thickness */
  background: white; /* Border color */
  transition: transform 0.3s ease; /* Animate the transform property */
  transform: scaleX(1); /* Full width by default */
  transform-origin: center; /* Scale from the center */
}

h3:hover::after {
  transform: scaleX(0.8); /* Shrink to 80% of its width on hover */
}

  
}




/* journey css starts */

.startContainer{
  background-image: url('/doodleimage.jpg');
  margin: 5rem 0rem;
  height: 60vh;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
 display: flex;
 flex-direction: column;
 justify-content: center;

}

.startUpper{
  
  margin-bottom: 4rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 >h1{
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
  font-weight: 800;
 }
 >h3{
  margin-top: .5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
 }
 >button{
  margin-top: 3rem;
  padding: 1rem 4rem;
  border-top-left-radius: 34px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 237, 164);
  color: white;
  border: none;
  font-size: 1.1rem;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: 400

 }
}


/* Author css stars here */

.AuthorContainer{
  display: flex;
  margin: 3rem 4rem;
  padding: 2rem 4rem;
  
  
  
}


.AuthorLeftPart{
 
  width: 45%;
  margin-right: 2rem;
  >h3{
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: .5rem;
  
  }
  >h1{
    font-family: "Poppins", sans-serif;
    line-height: 2.4rem;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 3.5rem;
    


  }

  >p{
   
  }

  >button{

    margin-top: 3rem;
    padding: 1rem 2.8rem;
    border-top-left-radius: 34px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 237, 164);
    color: white;
    border: none;
    font-size: 1.1rem;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 400

  }
  
}

.AuthorRightPart{

  width: 55%;
  margin-left: 2rem;
  
}

.customize{
  border-bottom: 3px solid  rgb(43, 255, 0) ;
}

.New{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: rgba(52, 52, 52, 0.7);
}


.New1{
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: rgba(52, 52, 52, 0.7);
}



.AuthorRightPart {
  display: grid;
  grid-template-rows: 1fr 1fr;     
  grid-template-columns: 1fr 1fr 1fr; 
  row-gap: 1.3rem;

 
}

.pics{
  width: 10rem;
  height: 10rem;
  margin: 1.3rem;

  >h2{
    margin-left: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
  }
  h3{
    margin-left: 1.7rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;

  }
  
  >img{
    width: 100%;
    height: 100%;
    border-radius: 225px;
  }

  
}


/* ExpandDiv css start */

.ExpandContainer {
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-inline: 3rem;
  padding: 2rem;
  >h1{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 800;
   width: 30rem;
  }
}

.expandImg{
  background-image: url('/fw2.jpg');

  height: 90vh;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.TitleButton {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  width: 30rem; /* Explicit width */
  border: none;
  cursor: pointer;
  margin-top: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  border-top-left-radius: 34px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block; /* Ensure block level for proper alignment */
}

.TitleButton.active {
  background-color: rgb(28,207,184);
}

.Content {
  padding: 1rem;
  margin: 1rem 0;
  width: 30rem;
 
 
 
  overflow: hidden;
  max-height: 0;
  transition: max-height .1s ease-out;
  font-family: "Roboto", sans-serif;
  line-height: 1.3rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.TitleButton.active + .Content {
  max-height: 500px; /* Adjust as necessary */
}




/* heropage css starts */



.HeaderCaoursel1{
  background-image: url('Header1.jpeg');
padding: 4rem;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

 

  
 


}





.HeaderCaoursel2{
  background-image: url('Header2.jpeg');
padding: 4rem 0rem;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

  
}

.img2Content{

 display: flex;
 flex-direction: column;
 align-items: flex-start;
  width: 50%;
  margin-left: 5rem;
  
  padding: 4rem 0rem;

  >h1{
    margin-left: 5rem;
    font-family: "Poppins", sans-serif;
font-size: 3.5rem;
font-weight: 700;
  }

  >p{
    margin-top: 3rem;
    margin-left: 2.8rem;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    color: rgb(56,179,204);
   
    width: 70%;
  }
}

.learnspan{
  border-bottom: 4px solid rgb(28,128,243)
  ;
}

.img1Content{

 
  >h1{
    font-family: "Roboto", sans-serif;
    font-size: 4.5rem;
    margin-top: 2rem;
    color: rgb(255,69,101);

  }

  >h2{
    font-family: "Roboto", sans-serif;
font-size: 2.5rem;
margin-top: .6rem;
font-weight: 400;

  }


  
}

.Learn{
  margin: 3rem 2rem;
  padding: 1.1rem 3rem;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 34px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color:  rgb(255,69,101);
  color: white;
  font-size: 1rem;
}


.explore{
  padding: 1.1rem 3rem;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 34px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color:  rgb(64,177,207);
  color: white;
  font-size: 1rem;
}


.HeaderCaoursel3{
  /* background-image: url('Header3.jpeg');

  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat; */
  display: flex;
}

.img3Content{
width: 50%;
}

.img3{   
  background-image: url('shapes-bg.webp');
width: 50%;
object-fit: contain;
height: 99vh;
margin:  0rem 3rem ;

padding: 4rem;


  >img{
  
    height: 100%;
    width: 100%;
    
  
  }
}

.img2button{
  display: flex;
  margin-left: 4rem;
  margin-top: 4rem;
  gap: 2rem;
}


.discover{
  padding: 1.1rem 3rem;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 34px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color:rgb(29,207,185);
  color: white;
  font-size: 1rem;
}



.talk{
 
  padding: 1.1rem 3rem;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 34px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color:  rgb(255,255,255);
  color: black;
  font-size: 1rem;
  box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2);
}

.img3Content{

  margin-top: 5rem;

  >h1{
    margin-top: 5rem;
    font-family: "Poppins", sans-serif;
font-size: 4rem;
font-weight: 700;
color: rgb(172,74,176);


  }

  >h2{
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    margin-top: .5rem;
    font-weight: 400;
  }
}


h2 i {
  color:black; /* Sets the color of the icon */
  margin-right: .7rem;
  font-size: 2rem;
}


.view{
margin-top: 2rem;
  padding: 1.1rem 3rem;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 34px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: #4A90E2;
  color: white;
  font-size: 1rem;

}



